@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

:root {
    --cor-primaria: #144162
}

body, main {
    font-family: "Roboto Condensed", serif;
    background-color: lightgrey;
}

hr.linha{
    border: none;
    border-radius: 70%;
    width: 50vw;
    height: 3px;
    background-color: #144162;
    margin: 20px auto;
}

header {
    background-color: #144162;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header > h1 {
    flex: 1 1 ;
    margin: 10px;
}

header > h1 > img {
    width: 25vw;
}

header > nav.opcoes {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
}

header > nav.opcoes > a {
    text-decoration: none;
    color: white;
    background-color: rgb(37, 110, 110);
    padding: 10px;
    width: 90vw;
    margin: 5px;
    border-radius: 10px;
}

header > nav.opcoes > a:hover {
    background-color: darkblue;
    transition: .5s;
}

section.introducao > h2 {
    font-size: 2.3em;
    padding: 0px 20px 20px 20px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
}

section.introducao {
    text-align: center;
    padding: 10px;
    line-height: 1.5em;
    font-size: 1.1em;
}

article.servicos > h2 {
    font-size: 2.3em;
    padding: 20px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
}

article.servicos {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

article.servicos > a.caixaservi {
    text-decoration: none;
    clip-path: inset(0 round 125px);
}


article.servicos > a.caixaservi > section.servico > div.servi > h3 {
    font-size: 1.5em;
    color: white;
    font-weight: 400;
    margin-bottom: 5px;
    transition: .5s;
}

article.servicos > a.caixaservi > section.servico {
    flex: 0 1 50px;
    margin: 10px;
    width: 390px;
    border: 5px outset darkblue;
    border-radius: 30%;
    background-color: #1b568088;
    box-shadow: inset -8px 13px 8px 0px rgba(0, 0, 0, 0.39);
    transition: .5s;
}

article.servicos > a.caixaservi > section.servico:hover {
    background-color: rgb(43, 43, 161);
    box-shadow: none;
    transition: .5s;
}

article.servicos > a.caixaservi > section.servico:hover p {
    color: rgb(255, 255, 255);
    transition: .5s;
}

article.servicos > a.caixaservi > section.servico:hover div.servi > h3 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: .5s;
}

article.servicos > a.caixaservi > section.servico:hover div.icon-servi > img {
    filter: invert(1);
    transition: .5s;
    width: 110px;
}

article.servicos > a.caixaservi > section.servico > p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.3em;
    max-width: 300px;
    margin: 0px auto 20px auto;
    color: black;
    transition: .5s;
}

/*article.servicos > section.servico {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px dotted black;
} */

article.servicos > section.servico > div.servi {
    padding: 15px;
}

article.servicos > a.caixaservi > section.servico > div.icon-servi > img {
    width: 100px;
    margin: 10px;
    transition: .5s;
}

div.contato {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #144162;
    color: white;
}

div.contato > h3 {
    font-size: 1.8em;
    flex-basis: 50px;
}

div.contato > a {
    text-decoration: none;
    background-color: rgb(3, 3, 68);
    color: white;
    width: 180px;
    text-align: center;
    padding: 20px;
}

div.contato > a:hover {
    background-color: rgb(45, 45, 156);
    transition: .5s;
}

section#equipe > h2 {
    font-size: 2.3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
}

section#equipe {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
}

section#equipe > h2 {
    margin: 20px;
}

section#equipe > div.fotomem {
    margin: 15px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.479);
}

section#equipe > div.fotomem > img {
    width: 300px;
    height: 350px;
}

section#equipe > div.bio > h3{
    text-align: left;
    font-size: 1.5em;
    margin-left: 15px;
    margin-bottom: 10px;
    font-variant: small-caps;
}

section#equipe > div.bio {
    align-self: center;
}

section#equipe > div.bio > p {
    text-indent: 15px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 20px;
    max-width: 400px;
    padding: 5px;
}