@charset "UTF-8";

span#burguer {
    display: none;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

header > h1 > img {
    width: 200px;
}

header > nav#opcoes {
    display: inline-block;
}

header > nav#opcoes > a {
    width: 200px;
    text-align: center;
}